<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdicionaPerspectivaServlet</servlet-name>
        <servlet-class>Controle.AdicionaPerspectivaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaLocalServlet</servlet-name>
        <servlet-class>Controle.AdicionaLocalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaPeriodoServlet</servlet-name>
        <servlet-class>Controle.AdicionaPeriodoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaDimServlet</servlet-name>
        <servlet-class>Controle.AdicionaDimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaAviServlet</servlet-name>
        <servlet-class>Controle.AdicionaAviServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaObjetivoServlet</servlet-name>
        <servlet-class>Controle.AdicionaObjetivoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdicionaPerspectivaServlet</servlet-name>
        <url-pattern>/AdicionaPerspectivaServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaLocalServlet</servlet-name>
        <url-pattern>/AdicionaLocalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaPeriodoServlet</servlet-name>
        <url-pattern>/AdicionaPeriodoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaDimServlet</servlet-name>
        <url-pattern>/AdicionaDimServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaAviServlet</servlet-name>
        <url-pattern>/AdicionaAviServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaObjetivoServlet</servlet-name>
        <url-pattern>/AdicionaObjetivoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
