<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdicionaPerspectivaServlet</servlet-name>
        <servlet-class>Controle.AdicionaPerspectivaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaLocalServlet</servlet-name>
        <servlet-class>Controle.AdicionaLocalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaPeriodoServlet</servlet-name>
        <servlet-class>Controle.AdicionaPeriodoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaDimServlet</servlet-name>
        <servlet-class>Controle.AdicionaDimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaAviServlet</servlet-name>
        <servlet-class>Controle.AdicionaAviServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaObjetivoServlet</servlet-name>
        <servlet-class>Controle.AdicionaObjetivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaIndicadorServlet</servlet-name>
        <servlet-class>Controle.AdicionaIndicadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPerspectivaServlet</servlet-name>
        <servlet-class>Controle.ListaPerspectivaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaIndPerServlet</servlet-name>
        <servlet-class>Controle.AdicionaIndPerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaPlanoAcaoServlet</servlet-name>
        <servlet-class>Controle.AdicionaPlanoAcaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiPerspServlet</servlet-name>
        <servlet-class>Controle.ExcluiPerspServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraPerspServlet</servlet-name>
        <servlet-class>Controle.AlteraPerspServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaObjetivoServlet</servlet-name>
        <servlet-class>Controle.ListaObjetivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiObjServlet</servlet-name>
        <servlet-class>Controle.ExcluiObjServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraObjetivoServlet</servlet-name>
        <servlet-class>Controle.AlteraObjetivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaIndicadorServlet</servlet-name>
        <servlet-class>Controle.ListaIndicadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPeriodoServlet</servlet-name>
        <servlet-class>Controle.ListaPeriodoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaLocalServlet</servlet-name>
        <servlet-class>Controle.ListaLocalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaIndPerServlet</servlet-name>
        <servlet-class>Controle.ListaIndPerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPlnAcaoServlet</servlet-name>
        <servlet-class>Controle.ListaPlnAcaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiIndServlet</servlet-name>
        <servlet-class>Controle.ExcluiIndServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraIndServlet</servlet-name>
        <servlet-class>Controle.AlteraIndServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiPerServlet</servlet-name>
        <servlet-class>Controle.ExcluiPerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraPerServlet</servlet-name>
        <servlet-class>Controle.AlteraPerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiLocServlet</servlet-name>
        <servlet-class>Controle.ExcluiLocServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraLocServlet</servlet-name>
        <servlet-class>Controle.AlteraLocServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiIndPerServlet</servlet-name>
        <servlet-class>Controle.ExcluiIndPerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraIndPerServlet</servlet-name>
        <servlet-class>Controle.AlteraIndPerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiPlanAcServlet</servlet-name>
        <servlet-class>Controle.ExcluiPlanAcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraPlanoAcServlet</servlet-name>
        <servlet-class>Controle.AlteraPlanoAcServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdicionaPerspectivaServlet</servlet-name>
        <url-pattern>/AdicionaPerspectivaServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaLocalServlet</servlet-name>
        <url-pattern>/AdicionaLocalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaPeriodoServlet</servlet-name>
        <url-pattern>/AdicionaPeriodoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaDimServlet</servlet-name>
        <url-pattern>/AdicionaDimServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaAviServlet</servlet-name>
        <url-pattern>/AdicionaAviServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaObjetivoServlet</servlet-name>
        <url-pattern>/AdicionaObjetivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaIndicadorServlet</servlet-name>
        <url-pattern>/AdicionaIndicadorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPerspectivaServlet</servlet-name>
        <url-pattern>/ListaPerspectivaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaIndPerServlet</servlet-name>
        <url-pattern>/AdicionaIndPerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaPlanoAcaoServlet</servlet-name>
        <url-pattern>/AdicionaPlanoAcaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiPerspServlet</servlet-name>
        <url-pattern>/ExcluiPerspServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraPerspServlet</servlet-name>
        <url-pattern>/AlteraPerspServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaObjetivoServlet</servlet-name>
        <url-pattern>/ListaObjetivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiObjServlet</servlet-name>
        <url-pattern>/ExcluiObjServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraObjetivoServlet</servlet-name>
        <url-pattern>/AlteraObjetivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaIndicadorServlet</servlet-name>
        <url-pattern>/ListaIndicadorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPeriodoServlet</servlet-name>
        <url-pattern>/ListaPeriodoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaLocalServlet</servlet-name>
        <url-pattern>/ListaLocalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaIndPerServlet</servlet-name>
        <url-pattern>/ListaIndPerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPlnAcaoServlet</servlet-name>
        <url-pattern>/ListaPlnAcaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiIndServlet</servlet-name>
        <url-pattern>/ExcluiIndServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraIndServlet</servlet-name>
        <url-pattern>/AlteraIndServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiPerServlet</servlet-name>
        <url-pattern>/ExcluiPerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraPerServlet</servlet-name>
        <url-pattern>/AlteraPerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiLocServlet</servlet-name>
        <url-pattern>/ExcluiLocServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraLocServlet</servlet-name>
        <url-pattern>/AlteraLocServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiIndPerServlet</servlet-name>
        <url-pattern>/ExcluiIndPerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraIndPerServlet</servlet-name>
        <url-pattern>/AlteraIndPerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiPlanAcServlet</servlet-name>
        <url-pattern>/ExcluiPlanAcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraPlanoAcServlet</servlet-name>
        <url-pattern>/AlteraPlanoAcServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
